* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #171717;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #fdfbf9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;

}

.email-list{
    display: flex;
}


