@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Bebas+Neue&family=Teko:wght@500&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    background-color: #323232;
    color: #fdfbf9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue';
    margin-top: -5rem;
}

h1 {
    text-align: center;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
}
.logo {
    width: 600px;
    height: 500px;
}

img {
    width: 100%;
    height: 100%;
}
.mailing-list {
    padding:2rem;
}

.email-list{
    display: flex;
    position: relative;
}

input[type="email"] {
    outline: none;
    width: 100%;
    height: 2.4rem;
    border-radius: 30px;
    bordeR: none;
    padding: 8px;
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.3);
}

button {
    width: 4.2rem;
    height: 2.4rem;
    border: none;
    background: #323232;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #fdfbf9;
    font-size: 1rem;
}

