@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Teko:wght@500&display=swap');

#flag-opts {
    width: 350px;
    height: 250px;
    padding: 5px;

}

#flag-reasons label {
    color: black;
    font-family: 'Teko';
    letter-spacing: 0.02rem;
    font-size: 18px;
}

#flag-reasons input {
    margin: 10px;
}
